<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<style>
    .dataTables_actions {
        display: none;
    }
    .dataTables_length select option {
        background: #192c47;
    }
    .page-select option {
        background: #160e1c;
    }
    #stock_table td {
        word-break: break-all;
    }
</style>
<body data-sa-theme="2">
<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

<section class="content">
    <header class="content__title">
        <h1>NFT items</h1>
    </header>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="stock_table" class="table table-bordered table-striped text-center mb-0">
                    <thead>
                    <tr>
                        <th style="width: 10%">Name</th>
                        <th style="width: 15%">Collection</th>
                        <th style="width: 5%">TokenId</th>
                        <th style="width: 15%">Creator</th>
                        <th style="width: 15%">Owner</th>
                        <th style="width: 5%">Royalty(%)</th>
                        <th style="width: 5%">Position</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let i = 0; i < items.length; i++) { %>
                        <tr>
                            <td><%= items[i].name %></td>
                            <td><%= items[i].itemCollection %></td>
                            <td><%= items[i].tokenId %></td>
                            <td><%= items[i].creator %></td>
                            <td><%= items[i].owner %></td>
                            <td><%= parseFloat(items[i].royalty / 10) %></td>
                            <td><%= items[i].position == 1 ? "List" : (items[i].position === 2 ? "Auction" : "None") %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>

<script>
    $(function () {
        $('#stock_table').DataTable({
            aaSorting: [],
            autoWidth: !1,
            responsive: !0,
            lengthMenu: [[15, 40, 100, -1], ['15 Rows', '40 Rows', '100 Rows', 'Everything']],
            language: {searchPlaceholder: 'Search for records...'},
            sDom: '<"dataTables__top"flB<"dataTables_actions">>rt<"dataTables__bottom"ip><"clear">'
        });
    });
</script>
</body>
</html>
